<div class="jumbotron-fluid">
  <div class="parallax3">


    <div class="bodyparallax">

      <h2>About Us</h2>
      <p>Get to know us better</p>
    </div>
  </div>

</div>

<div class="my-5"></div>


<section class="about-us area">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">

        <div class="aboutus">
          <div class="single-post">
            <div class="image-wrapper"><img src="image/aboutus1.jpg" class="img-fluid" alt="Robbie"></div>
            <br />
            <h1 style="text-align: center;"><b>Robbie Antonio</b></h1>
            <br />
            <p align="justify"  ">Antonio currently has 82 million square feet worth of developed, in-progress, and managed properties under his belt, being the Founder and President of Antonio Development in New York, Managing Director of
              Century Properties based in Asia, and now the Founder and CEO of Revolution Precrafted.</p>

            <p align="justify"  ">To date, he has worked with 13 Pritzker Prize Architects/firms such as Zaha Hadid, Philip Johnson Alan Ritchie, Rem Koolhaas, Jean Nouvel, I.M. Pei, Paulo Mendes da Rocha, and Christian de Portzamparc, as
              well as designers such as Ron Arad, Campana Brothers, Tom Dixon, Philippe Starck, and Marcel Wanders. He has worked with over 103 notable brands in various fields—including fashion, Hollywood, luxury, design, and art. He has
              established the largest number of luxury branded real estate developments across the globe, by working with Giorgio Armani for Armani Casa, Forbes Media, Versace, Missoni Home, Paris Hilton, Lenny Kravitz and Wallpaper* Magazine.</p>

            <p align="justify"  ">He is one of the youngest and most prolific collectors of international modern and post-war contemporary art in the world. Because of his accomplishments as an art collector, he has received a number of
              awards from many different organizations. In 2014, Artnet recognized him as one of “20 of the World’s Most Innovative Art Collectors,” while in 2015, he became part of Artnet’s “Top 200 Art Collectors Worldwide”. Artnet also recognized
              him with two awards in 2016: as one of twelve young art collectors to watch out for, as well as one of the top 100 art collectors for that year. This year, he was cited by BuiltWorlds in its 2018 Mavericks Report as one of “25 Pioneers
              Who’ve Transformed the Built Industry.” In May 2018, he was named “Real Estate Personality of the Year” by PropertyGuru. </p>
              <br />
<center>
<a href="https://revolutionprecrafted.com/robbie-antonio" class="btn btn-secondary  btn-sm active sty" role="button" aria-pressed="true">Click to see more.</a></center>

              
            <br />
            <br />

            <div class="row">
              <div class="col-sm-7">
               
                <div class="image-wrapper"<a data-fancybox="gallery" href="image/aboutus2.jpg"><img src="image/aboutus2.jpg" class="img-fluid" alt="Manny Pacquiao"></a></div>
              </div><!-- col-sm-6 -->
              <div class="col-sm-5">
                <div class="image-wrapper"<a data-fancybox="gallery" href="image/aboutus3.jpg"><img src="image/aboutus3.jpg" class="img-fluid" alt="Paris Hilton"></a></div>
            
              </div><!-- col-sm-6 -->
            </div><!-- row -->

            <h4   "><b>Who we are</b></h4>
            <p align="justify">We are designers, artists, architects, thinkers, creators, innovators, researchers, writers, entrepreneurs and leaders committed to disrupting the status quo with high design and forward-thinking architecture.</p>
            <br />

            <h4   "><b>Our Mission</b></h4>
            <p align="justify">Revolution Flavorscapes is a carefully curated community for the everyman foodie and his family who appreciates the uniqueness and practicability of making a home and building roots in a culturally diverse food-centric
              neighborhood.</p>

            <br />
            <h4   "><b>Our Expertise</b></h4>
            <p align="justify">We address the pain points in the real estate industry by supplying designer homes globally at a fraction of a cost. With a network of cutting-edge technologies and cost-efficient production systems, Revolution
              Precrafted is democratizing high-design and architecture by introducing designed spaces in exclusive collaboration with industry leading creatives.</p>
            <br />

            <h4   "><b>Revolution</b></h4>
            <p align="justify">A collection of limited edition, precrafted properties, including homes and pavilions. The project unites over 80 of the world’s preeminent architects, artists and designers to create an exclusive series of
              prefabricated, livable spaces.
              The prefabricated home concept offers a solution by greatly simplifying the process — picking a design from a selection and having it delivered right to your doorstep. We break the monotony by delivering high design structures crafted
              by the world's leading designers and architects.</p>
            <br />

            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8rsC82OpMl0?rel=0
							?rel=0" allowfullscreen></iframe>
            </div>

          </div><!-- single-post -->
        </div><!-- blog-posts -->
        <br />
      </div><!-- col-lg-4 -->



      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="card-body">
            <center><i class="fas fa-award"></i></center>
            <h2 class="card-title" align="center"><b><i>Awards</i></b></h1>
            <p class="card-text">
              <ul>
                <li align="left"> Forbes “Philippines’ 50 Richest 2018” (youngest person)</li>
                <li align="left">CMO Asia Philippines’ Best Brand Award, 2018</li>
                <li align="left">“Real Estate Personality of the Year” by PropertyGuru</li>
                <li align="left">“25 Pioneers Who’ve Transformed the Built Industry”</li>
                <li align="left">Forbes “Philippines’ 50 Richest 2017” (youngest person)</li>
                <li align="left">“The World’s Top 100 Art Collectors for 2016” by Artnet</li>
                <li align="left">“Art Power List: Movers and Shakers in the Art World” by Harper’s Bazaar</li>
                <li align="left">“12 Young Art Collectors to Watch in 2016” by Artnet</li>
                <li align="left">“Top 200 Art Collectors Worldwide in 2015” by Artnet</li>
                <li align="left">“Top 10 Young Art Collectors” by Larry’s List</li>
                <li align="left">“20 of the World’s Most Innovative Art Collectors” by Artnet</li>
                <li align="left">“50 of the World’s Most Exciting Collectors” by Modern Painters</li>
                <li align="left">“The Collectors: 40 Under 40” By Apollo Magazine</li>
                <li align="left">“25 Most Influential Personalities” by the Philippine Star</li>
                <li align="left">“50 Under 50” by Town & Country</li>
                <li align="left">“Real Estate All stars in New York” by Real Estate Weekly, New York</li>
                <li align="left">“Top 40 Rising Stars of Real Estate Globally” by Institutional Investor Magazine at the age of 28</li>
              </ul><!-- right-area -->
            </p>
          </div>
        </div>
        <br />
        <div class="card">
          <div class="card-body">
            <center><i class="fab fa-pagelines"></i></center>
            <h2 class="card-title" align="center"><b><i>Speaking Engagements</i></b></h1>
            <p class="card-text">
              <ul>
                <li align="left">MILKEN INSTITUTE ASIA SUMMIT, 2018</li>
                <li align="left">DEALSTREET ASIA PE-VC SUMMIT, 2018</li>
                <li align="left">WILD DIGITAL CONFERENCE, 2018</li>
                <li align="left">TECHSAUCE GLOBAL SUMMIT, 2018</li>
                <li align="left">NOAH BERLIN, 2018</li>
                <li align="left">GATEWAY GULF INVESTOR FORUM BAHRAIN, 2018</li>
                <li align="left">FORTUNE DISRUPTION X DESIGN, 2018</li>
                <li align="left">FORTUNE BRAINSTORM TECH, 2017</li>
                <li align="left">FORTUNE HARNESSING THE POWER OF DESIGN, 2017</li>
                <li align="left">WILD DIGITAL CONFERENCE, 2017</li>
                <li align="left">LARRY’S LIST PRIVATE MUSEUM CONFERENCE, 2017</li>
                <li align="left">ART BASEL, 2017</li>
                <li align="left">NEW YORK TIMES ART FOR TOMORROW: THE COLLECTOR OF TOMORROW, 2017</li>
                <li align="left">ART BASEL HK SWIRE PROPERTIES VIP LOUNGE PANEL, 2016</li>
                <li align="left">FORBES ASIA: THE NEXT TYCOONS, 2015</li>
                <li align="left">DESIGN MIAMI PANEL, MIAMI ART BASEL 2015</li>
                <li align="left">SURFACE DESIGN DIALOGUE MIAMI ART BASEL 2015</li>
                <li align="left">WALLSTREET JOURNAL EXECUTIVE CONFERENCE, 2013</li>
          </div>
        </div>
      </div><!-- col-lg-4 -->

    </div><!-- row -->
  </div><!-- container -->
</section><!-- section -->

<div>
  <nav class="social">
    <ul>

      <li><a href="https://www.youtube.com/channel/UCs6DPQcBmE2lA96vJrkPirw" target="_blank">Youtube <i class="fab fa-youtube"></i></a></li>
      <li><a href="https://www.facebook.com/seiy.shimoyama915" target="_blank">Facebook <i class="fab fa-facebook"></i></a></li>
      <li><a href="https://www.instagram.com/explore/locations/1948793705420022/revolution-flavorescape-properties/" target="_blank">Instagram <i class="fab fa-instagram"></i></a></li>

    </ul>
  </nav>
</div>

</div><!-- end row -->
</div><!-- end container -->
