

<div class="jumbotron-fluid">
    <div class="parallax2">


  <div class="bodyparallax">

        <h3>Contact Us</h3>
  <p class="Lead">Every one of us desires to own the home of our dreams, but most of us don’t even know where to start.</p>
  </div>
  </div>

</div>

<div class="my-5"></div>

<!-- Contact -->
<!-- Contact -->


    <!-- Footer -->

    <!-- Footer -->
  <div class="contact-us">
       <div class="container">
          <div class="contact-form">
           <div class="row">
               <div class="col-sm-6">
                    <form id="ajax-contact"  method="post" action="https://formspree.io/mattaurelio@mailinator.com" role="form">
                        <div class="messages" id="form-messages"></div>
                        <div class="controls">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">*Full Name</label>
                        <input required name="name" type="text" class="form-control" id="exampleTextInput" aria-describedby="emailHelp" placeholder="Enter full name">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">*Email address</label>
                        <input required name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="exampleTextarea">Enter your message</label>
                        <textarea required name="message" class="form-control" id="exampleTextarea" rows="3"></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                       <button type="submit" class="btn btn-primary" style="cursor:pointer">Submit</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                   <br>
                                    <small class="text-muted"><strong>*</strong> These fields are required.</small>
                                </div>
                            </div>
                        </div>

                    </form>

               </div>
               <div class="col-sm-6">
                   <div class="row col1">
                       <div class="col-xs-3">
                           &nbsp&nbsp&nbsp&nbsp<i class="fa fa-user" style="font-size:18px;"></i>  &nbsp&nbspContact:
                       </div>
                       <div class="col-xs-9">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspMs. Wilma Shimoyama
                       </div>
                   </div>

                    <div class="row col1">
                        <div class="col-sm-3">
                            <i class="fa fa-phone"></i>   Mobile No.:
                        </div>
                        <div class="col-sm-9">
                             +81-80-8869-2878<br/>
                        </div>
                    </div>
                    <div class="row col1">
                        <div class="col-sm-3">
                             <i class="fa fa-fax"></i>&nbsp&nbsp&nbspViber No.:
                        </div>
                        <div class="col-sm-9">
                              +81-80-8869-2878
                        </div>
                    </div>
                    <div class="row col1">
                        <div class="col-sm-3">
                            <i class="fa fa-envelope"></i>   Email:
                        </div>
                        <div class="col-sm-9">
                             flavorscape.lakeshore@gmail.com
                        </div>
                    </div><br>
            <iframe width="100%" height="230" frameborder="0" style="border-radius:0px;" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12957.051683848522!2d120.67194219954997!3d15.094810558457414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3396f0dd90367d79%3A0x48afaa2ea846506!2sREVOLUTION+FLAVORSCAPES!5e0!3m2!1sen!2sus!4v1538644522024" style="border-radius:20px;"></iframe>   </div>
           </div>

          </div>
       </div>
   </div>
