<footer class="footer bg-dark text-white">

    <!-- Footer Links -->
            <div class="container pt-4 pb-1">
                <div class="row">

                    <div class="col-md-3 col-lg-4 col-xl-3">
                        <a class="ml-5">
                        <img src="image/logofooter.png"  height="80" width="100" /></a>
                    </div>

                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                        <h4>Properties</h4>
                        <hr class="bg-white mb-2 mt-1 d-inline-block mx-auto w-25">
                        <p><a href="#house" class="text-white">House and Lot</a></p>
                        <p><a href="#pop" class="text-white">Pop-ups</a></p>
                        <p><a href="#villas" class="text-white">Villas</a></p>
                        <p><a href="#condo" class="text-white">Condominiums</a></p>
                    </div>

                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                        <h4>Links</h4>
                        <hr class="bg-white mb-2 mt-1 d-inline-block mx-auto w-25">
                        <p><a href="#home2" class="text-white">Home</a></p>
                        <p><a href="#about-us" class="text-white">About Us</a></p>
                        <p><a href="#properties" class="text-white">Properties</a></p>
                        <p><a href="#contact" class="text-white">Contact Us</a></p>
                    </div>

                    <div class="col-md-4 col-lg-2 col-xl-4">
                        <h4>Contact Us</h4>
                        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                        <p><i class="fa fa-home mr-2"></i> Brgy. Divisoria,  Mexico, Pampanga</p>
                        <p><i class="fa fa-envelope mr-2"></i> <a ng-href="flavorscape.lakeshore@gmail.com" >flavorscape.lakeshore@gmail.com</a></p>
                        <p><i class="fa fa-phone mr-2"></i>+81-80-8869-2878</p>
                    </div>

                </div>
            </div>
            <!-- Footer Links-->


    <!-- Copyright -->

</footer>
