<footer class="footer text-white">

    <!-- Footer Links -->
            <div class="container pt-4 pb-1">
                <div class="row">


<div class="col-3 text-center">

                    &nbsp &nbsp &nbsp<img src="http://pcieerd.dost.gov.ph/images/article/DOST_partners_with_Revolution_Precrafted_to_showcase_world-class_RD_in_Construction_Technology/r3.png" class=" img-responsive" width="100% " height="auto" alt="..." >

                    </div>
        <div class="col-3">
                        <h4>Properties</h4>
                        <p><a href="#house" class="text-white">House and Lot</a></p>
                        <p><a href="#pop" class="text-white">Pop-ups</a></p>
                        <p><a href="#villas" class="text-white">Villas</a></p>
                        <p><a href="#condo" class="text-white">Condominiums</a></p>
                    </div>

        <div class="col-2">
                        <h4>Links</h4>
                        <p><a href="#home2" class="text-white">Home</a></p>
                        <p><a href="#about-us" class="text-white">About Us</a></p>
                        <p><a href="#properties" class="text-white">Properties</a></p>
                        <p><a href="#contact" class="text-white">Contact Us</a></p>
                    </div>

        <div class="col-4">
                        <h4>Contact Us</h4>
                        <p><i class="fa fa-home mr-2"></i> Brgy. Divisoria,  Mexico, Pampanga</p>
                        <p><i class="fa fa-envelope mr-2"></i> <a ng-href="https://mail.google.com/mail/?view=cm&fs=1&to=flavorscape.lakeshore@gmail.com" >flavorscape.lakeshore@gmail.com</a></p>
                        <p><i class="fa fa-phone mr-2"></i>+81-80-8869-2878</p>
  </div>


<!--div class="row" style="background-color: #1A6070;">

      <div class="col-4 text-center">
                    <p>Follow Us:</p>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-youtube"></a>
                    </div>
   <div class="col-4 text-center">

                    &nbsp &nbsp &nbsp<img src="http://pcieerd.dost.gov.ph/images/article/DOST_partners_with_Revolution_Precrafted_to_showcase_world-class_RD_in_Construction_Technology/r3.png" class=" img-thumbnail "  alt="..." >

                    </div>




                    <div class="col-4 text-center">
                   <p style="font-size: 32">Created with ❤</p>
                    </div>
                    </div>



            </div>
            Footer Links-->


    <!-- Copyright -->
 </div> </div>
</footer>
