<br>
<!------------------------------------------------------------------------------------------------------------->


<div class="container">

		<h1>Lakeshore Pampanga</h1>
    <p> Join us on an experience of gastronomic proportions. Savor on thoughtfully planned out community build around a shared love of food.  We realized that food brings us together,  so why not make it the center point of a community?</p>

</div>

<!------------------------------------------------------------------------------------------------------------->



<!------------------------------------------------------------------------------------------------------------->
<div class="container">

  <div class="row">
  <div class="col-12">
  <video width="100%" height="100%" autoplay muted>
  <source src="videos/vid2.mp4" type="video/mp4">
  </video>
</div>
</div>

</div>
<!------------------------------------------------------------------------------------------------------------->

<br>

<!------------------------------------------------------------------------------------------------------------->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h4>A little about <b>The Lakeshore</b>..</h4>
        <p>The Lakeshore is the first master-planned community in the country to offer residents a world of secluded lakeside luxury, 250 hectares of prime land crowned with a magnificent 12 hectare man-made lake.
          Residents need not go far to enjoy adventure-filled activities like fishing, sailing and kayaking.​With an enchanting 12-hectare man-made lake as its main feature.</p>
      <p>  The Lakeshore offers a beautiful and serene ambiance complimented with recreational and commercial facilities for the whole family to enjoy.
        The Lakeshore features a wide variety of water sports facilities such as non-motorized boating, kayaking and sailing. A white water jet fountain shooting up to 18 meteres high will serve as a landmark and act as a filtering and aeration device.
         The island in the lake even enhances the splendor of this haven.</p>
      <p>  ​With an enchanting 12-hectare man-made lake as its main feature,
         The Lakeshore offers a beautiful and serene ambiance complimented with recreational and commercial facilities for the whole family to enjoy.
         The Lakeshore features a wide variety of water sports facilities such as non-motorized boating, kayaking and sailing.
         A white water jet fountain shooting up to 18 meteres high will serve as a landmark and act as a filtering and aeration device. The island in the lake even enhances the splendor of this haven.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
      <h4>What are we talking about when we talk about community?</h4>
      <p>In Flavorscapes' case, it's the network of people that knit around themselves based on a shared interest in food, from the bakery apprentice at our
        <b>ENDERUN Culinary School</b> to the Flavorscapes farmers' marketers, food specialty stores and Flavorscapes villagers and visitors who order loaves.
        In even simpler terms, community is built upon conversations.
        People like to eat and they like to talk about it. Ask a stranger anywhere in the world what or where he likes to eat, and chances are he'll open up.
        The new food movement still labeled as Do It Yourself, but it's really Do It Ourselves.</blockquote></p>
      </div>
    </div>
  </div>

</div>
<!------------------------------------------------------------------------------------------------------------->

<br>

<!------------------------------------------------------------------------------------------------------------->
<div class="container container-fluid">
<center>
<h1>The Lakeshore Development</h1></center>

  <div class="row">
  <div class="col-12">
  <video width="100%" height="100%" autoplay muted>
  <source src="videos/vid1.mp4" type="video/mp4">
  </video>
</div>
</div>
</div>
<!------------------------------------------------------------------------------------------------------------->

<br>
<hr>
<!------------------------------------------------------------------------------------------------------------->

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center ">
                <nav class="nav-justified ">
                  <div class="nav nav-tabs " id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="pop1-tab" data-toggle="tab" data-target="#pop1" role="tab" aria-controls="pop1" aria-selected="true">Features</a>
                    <a class="nav-item nav-link" id="pop2-tab" data-toggle="tab" data-target="#pop2" role="tab" aria-controls="pop2" aria-selected="false">Commercial & Business Features</a>
                    <a class="nav-item nav-link" id="pop3-tab" data-toggle="tab" data-target="#pop3" role="tab" aria-controls="pop3" aria-selected="false">Amenities</a>

                  </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                 <div class="tab-pane fade show active" id="pop1" role="tabpanel" aria-labelledby="pop1-tab">
                        <div class="pt-3">
                            <div class="row">
                              <div class="col-sm-4 col-md-4 check-span">
                              <span>
                                <i class="fa fa-check"><strong>12 hectare man-made lake.</strong></span><
                                <span>
                                  <i class="fa fa-check"></i><strong>18 meter-high Water Jet Fountain.</strong></span>
                                  <span>
                                    <i class="fa fa-check"></i><strong>Water Sports Facilities.</strong></span>
                                    <span>
                                      <i class="fa fa-check"></i><strong>Parks and Picnic Grounds at both ends of the lake.</strong></span>

                              </ul>
                              </div>
                              <div class="col-sm-4 col-md-4 check-span">
                                  <span>

                                <i class="fa fa-check"></i><strong>2 kilometer Jogging Trail around the lake.</strong></span>
                                  <span>  <i class="fa fa-check"></i><strong>1,100 square meter Island with Pool and Jacuzzi.</strong>    </span>
                                  <span>  <i class="fa fa-check"></i><strong>An Iinfinity Pool and Kiddie Pool at the main Clubhouse. </strong>   </span>

                              </div>
                              <div class="col-sm-4 col-md-4 check-span">
                                <span>
                                <i class="fa fa-check"></i><strong>Fishing and Boating Equipments. </strong>
                                  <span>  <i class="fa fa-check"></i><strong>Lakeshore PNP Action Center at the Mexico Exit.</strong></span>
                                  <span><i class="fa fa-check"></i><strong>24 hour Security for entire Lakeshore Estate.</strong></span>
                            </span>
                              </div>

                          </div>
                        </div>
                  </div>
                  <div class="tab-pane fade" id="pop2" role="tabpanel" aria-labelledby="pop2-tab">
                       <div class="pt-3"></div>
                       <div class="row">
                         <div class="col-sm-4 col-md-4 check-span">
                         <span>
                           <i class="fa fa-check"></i><strong>Villas</strong></span>
                           <span>
                             <i class="fa fa-check"></i><strong>12-Hectare man-made lake.</strong></span>
                             <span>
                               <i class="fa fa-check"></i><strong>18-meter-high water jet fountain.</strong></span>
                               <span>
                                 <i class="fa fa-check"></i><strong>Water sports facilities.</strong></span>

                         </ul>
                         </div>
                         <div class="col-sm-4 col-md-4 check-span">
                             <span><i class="fa fa-check"></i><strong>2km. biking and jogging trail around the lake.</strong></span>
                             <span><i class="fa fa-check"></i><strong>Unique surrey bikes</strong>    </span>
                             <span><i class="fa fa-check"></i><strong>Parks and picnic grounds.</strong>   </span>
                            <span><i class="fa fa-check"></i><strong>Lakeside jogging path</strong>   </span>
                         </div>
                         <div class="col-sm-4 col-md-4 check-span">
                           <span>
                           <i class="fa fa-check"></i><strong>Fishing and Boating Equipments. </strong>
                             <span>  <i class="fa fa-check"></i><strong>Lakeshore PNP Action Center at the Mexico Exit.</strong></span>
                             <span><i class="fa fa-check"></i><strong>24 hour Security for entire Lakeshore Estate.</strong></span>
                       </span>
                         </div>

                     </div>
                  </div>
                  <div class="tab-pane fade" id="pop3" role="tabpanel" aria-labelledby="pop3-tab">
                       <div class="pt-3"></div>
                       <div class="row">
                         <div class="col-sm-4 col-md-4 check-span">
                         <span>
                           <i class="fa fa-check"></i><strong> Villas</strong></span>
                           <span>
                             <i class="fa fa-check"></i><strong> 12-Hectare man-made lake.</strong></span>
                             <span>
                               <i class="fa fa-check"></i><strong> 18-meter-high water jet fountain.</strong></span>
                               <span>
                                 <i class="fa fa-check"></i><strong> Water sports facilities.</strong></span>

                         </ul>
                         </div>
                         <div class="col-sm-4 col-md-4 check-span">
                             <span><i class="fa fa-check"></i><strong>2km. biking and jogging trail around the lake.</strong></span>
                             <span><i class="fa fa-check"></i><strong>Unique surrey bikes</strong>    </span>
                             <span><i class="fa fa-check"></i><strong>Parks and picnic grounds.</strong>   </span>
                            <span><i class="fa fa-check"></i><strong>Lakeside jogging path</strong>   </span>
                         </div>
                         <div class="col-sm-4 col-md-4 check-span">
                           <span>
                           <i class="fa fa-check"></i><strong>Fishing and Boating Equipments. </strong>
                             <span>  <i class="fa fa-check"></i><strong>Lakeshore PNP Action Center at the Mexico Exit.</strong></span>
                             <span><i class="fa fa-check"></i><strong>24 hour Security for entire Lakeshore Estate.</strong></span>
                       </span>
                         </div>

                     </div>

                  </div>

                </div>
            </div>
        </div>
    </div>

<br>

<!------------------------------------------------------------------------------------------------------------->



<!------------------------------------------------------------------------------------------------------------->

<!------------------------------------------------------------------------------------------------------------->

<br>

<!------------------------------------------------------------------------------------------------------------->
<div class="container-fluid">
<div class="container">
  <div class="row">

<div class="col-sm-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="image/homepage/g1.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text"><h5>Museum of Candy</h5>
</p>
  </div>
</div>
</div>

<div class="col-sm-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="image/homepage/g2.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text"><h5>Floating Cinema</h5>
</p>
  </div>
</div>
</div>

<div class="col-sm-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="image/homepage/g3.jpeg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text"><h5>Catch and Cook</h5></p>
  </div>
</div>
</div>


 </div>
</div>
</div>
<!------------------------------------------------------------------------------------------------------------->

<br>

<!------------------------------------------------------------------------------------------------------------->
<div class="container-fluid">
<div class="container">
  <div class="row">

<div class="col-sm-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="image/homepage/g4.jpeg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">​<h5>Microbrewery and Beer Garden</h5><ul>
<li>Develop craft beers and ciders</li>
<li>Partnership with local brewers</li>
<li>Create a Craft Beer Festival</li>
</ul></p>
  </div>
</div>
</div>

<div class="col-sm-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="image/homepage/g5.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text"><H5>Museum of Ice Cream</H5>
Create concept facilities that will wow
the public and generate curiosity and interest.</p>
  </div>
</div>
</div>

<div class="col-sm-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="image/homepage/g6.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text"><h5>Chocolate Gallery</h5>
Put up specialty stores and galleries that will attract residents and outside public alike</p>
  </div>
</div>
</div>


 </div>
</div>
</div>
<!------------------------------------------------------------------------------------------------------------->

<br>

<!------------------------------------------------------------------------------------------------------------->
<div class="container-fluid">
<div class="container">
<div class="row">

<div class="col-sm-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="image/homepage/g7.jpeg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">​
      <h5>Communte</h5>
</p>
  </div>
</div>
</div>

<div class="col-sm-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="image/homepage/g8.jpeg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">​      <h5>Enderun Colleges</h5>
One of the best Culinary Arts School
</ul></p>
  </div>
</div>
</div>


</div>
</div>
</div>


<!------------------------------------------------------------------------------------------------------------->
<hr>
<!------------------------------------------------------------------------------------------------------------->

<br>

<!------------------------------------------------------------------------------------------------------------->
