<div ng-repeat="housenlot in house" ng-show="$index == {{detail}}">
  <div class="jumbotron-fluid">
    <div class="parallax4" background-image-directive="{{housenlot.images[0]}}">

      <div class="bodyparallax2">

        <div class="row">
          <div class="col-md-5 ml-5">
            <h2>{{housenlot.name}}</h2>
            <span>Name</span>
          </div>
          <div class="col-md-2">
            <h4>P {{ housenlot.Selling }}</h4>
            <span>Selling Price</span>
          </div>
          <div class="col-md-2">
            <h4>{{ housenlot.Lot }}</h4>
            <span>Lot Area</span>
          </div>
          <div class="col-md-2">
            <h4>{{ housenlot.House }}</h4>
            <span>House Area </span>
          </div>
        </div>
      </div>
    </div>
    </br>
  </div>


  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#home">Home</a></li>
      <li class="breadcrumb-item"><a href="#properties">Properties</a></li>
      <li class="breadcrumb-item"><a href="#house">House and Lot</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{housenlot.name}}</li>
    </ol>
  </nav>

  <div class="spinner" ng-show="loading">
    <img src="http://i49.tinypic.com/j5z8mb.gif" alt="Yükleniyor..." />
  </div>
  <div class="container-fluid" id="product-section">

    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div id="Overview" class="container " style="background-color:white; overflow-x:auto;">
            <h2 class="my-2">Project Overview</h2>
            <hr style="  border-bottom:3px solid #4d5923;">
            <table class="table">
              <tr>
                <td><strong>SELLING PRICE: </strong></td>
                <td>{{ housenlot.Selling }}</td>
              </tr>
              <tr>
                <td><strong>DOWNPAYMENT: </strong></td>
                <td>{{ housenlot.Monthly }}</td>
              </tr>
              <tr>
                <td><strong>Lot Area: </strong></td>
                <td>{{ housenlot.Lot }}</td>
              </tr>
              <tr>
                <td><strong>House Area: </strong></td>
                <td>{{ housenlot.House }}</td>
              </tr>
              <tr>
                <td><strong>Bedroom: </strong></td>
                <td>{{ housenlot.Bedroom }}</td>
              </tr>
              <tr>
                <td><strong>Bathroom: </strong></td>
                <td>{{ housenlot.Bathroom }}</td>
              </tr>
              <tr>
                <td><strong>Property status: </strong></td>
                <td>{{ housenlot.Status }}</td>
              </tr>
            </table>
            <br />
          </div>

        </div>
        </br>
        </br>
        <div class="row">
          <div class="container" style="background-color:white;">
            <h2>Features</h2>
            <hr style="  border-bottom:3px solid #4d5923;">
            <div class="row">
              <div class="col-lg-4">
                <label class="checkBoxAllow fas fa-check"></label>
                <strong>Living Area</strong>
              </div>
              <div class="col-lg-4">
                <label class="checkBoxAllow fas fa-check"></label>
                <strong>Dining area</strong>
              </div>
              <div class="col-lg-4">
                <label class="checkBoxAllow fas fa-check"></label>
                <strong>Kitchen Area</strong>
              </div>
              <div class="col-lg-4">
                <label class="checkBoxAllow fas fa-check"></label>
                <strong>Free Wifi</strong>
              </div>
            </div>
            <br />
          </div>

        </div>
        </br>
        <div class="row">
          <div class="container" style="background-color:white; max-height:500px;">
            <h2>Floor plans</h2>
            <hr style="  border-bottom:3px solid #4d5923;">
            <div class="row">
              <div class="col"><img src="{{ housenlot.floor[0] }}" class="img-responsive" height="70%" alt='' />
              </div>
              <div class="col"><img src="{{ housenlot.floor[1] }}" class="img-responsive" height="70%" alt='' />
              </div>
            </div>

          </div>

        </div> </br>
        <div class="row">
          <div class="container" style="background-color:white; max-height:550px;">
            <h2>Site Development Plan</h2>
            <hr style="  border-bottom:3px solid #4d5923;">
            <div class="row ">
                 <a data-fancybox="gallery" href="https://files.widgetic.com/file/widgetic-uploads/weebly/image-loupe/3192807/jf2ko5bo-3w3xprv.png"><img src="https://files.widgetic.com/file/widgetic-uploads/weebly/image-loupe/3192807/jf2ko5bo-3w3xprv.png" alt="Click to zoom" height="400" width="700" class="ïmg-responsive"></a>
            </div>
          </div>


        </div>

      </div>




      <div class="col-md-4">
        <section class="container" ng-class="{min:boolChangeClass}">
          <div class="card  rounded-0">
            <div class="card-header p-0">
              <div class="text-center py-2">
                <h3><i class="fa fa-envelope"></i> Want to find out?</h3>
              </div>
            </div>
            <div class="card-body p-3">

              <form action="https://formspree.io/mattaurelio@mailinator.com" method="POST">
                <div class="form-group">
                  <label for="exampleInputEmail1">Full Name</label>
                  <input required name="name" type="text" class="form-control" id="exampleTextInput" aria-describedby="emailHelp" placeholder="Enter full name">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input required name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleTextarea">Enter your message</label>
                  <textarea required name="message" class="form-control" id="exampleTextarea" placeholder="Please Regard the Property name" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-info btn-block" style="cursor:pointer">Submit</button>
              </form>
            </div>
          </div>
        </section>

      </div>
    </div>

    </br>
  </div>
</div>
