

</br>
</br>
  <div class="container">
          <h1>Properties For Sale</h1>
          <p>These condominiums, townhomes and house and lots are most popular to our first time homebuyers.</p>
          <div class="row my-3">
            <div class="col-md-6">
              <div class="card">
                <img class="card-img-top w-100 img-responsive" src="image/housenlot/alcove.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h2 class="card-text">Revolution Homes</h2>
                </div>
              </div>


            </div>
            <div class="col-md-6">
              <div class="card">
                <img class="card-img-top w-100 img-responsive" src="image/popup/popup_home.jpg"  alt="Card image cap">
                <div class="card-body">
                  <h2 class="card-text">Revolution Villas</h2>
                </div>
              </div>
             </div>
          </div>
          <div class="row my-3">
            <div class="col-md-6">
              <div class="card">
                <img class="card-img-top w-100 img-responsive" src="image/popup/popup2.jpg"  alt="Card image cap">
                <div class="card-body">
                  <h2 class="card-text">Revolution Popups</h2>
                </div>
              </div>


            </div>
            <div class="col-md-6">
              <div class="card">
                <img class="card-img-top w-100 img-responsive" src="image/popup/popup_home.jpg"  alt="Card image cap">
                <div class="card-body">
                  <h2 class="card-text">Revolution Condominiums</h2>
                </div>
              </div>
             </div>
          </div>





        </div>

        <div class="container"  >
          <h2>Site Development Plan</h2>

        <a href="https://files.widgetic.com/file/widgetic-uploads/weebly/image-loupe/3192807/jf2ko5bo-3w3xprv.png">
          <img src="https://files.widgetic.com/file/widgetic-uploads/weebly/image-loupe/3192807/jf2ko5bo-3w3xprv.png" alt="Click to zoom"
          style="transform-origin: 0px 0px 0px; transform: translate(0px, -0.0719041px) scale(0.639148);" height="70%" class="ïmg-responsive">
        </a>
  </div>
