</br>
</br>
<div class="container ">
  <div class="card">
    <br>
    <div class="card-body">
  <h1 style="text-align: center;">Properties For Sale</h1>

  <p style="text-align: center;">These condominiums, townhomes and house and lots are most popular to our first time homebuyers.</p>
</div>
</div>

  <br>
  <div class="row my-3">
    <div class="col-md-6">
      <div class="card">
        <img class="card-img-top w-100 img-responsive" src="image/housenlot/alcove.jpeg"alt="Card image cap">
        <div class="card-body">
          <a href="#/house" data-toggle="tooltip" data-placement="top" title="Click to Visit Houses" style="color:#144955;  font-family: 'Lora', Helvetica, sans-serif; ">Revolution Homes</a>
        </div>
      </div>


    </div>
    <div class="col-md-6">
      <div class="card">
        <img class="card-img-top w-100 img-responsive" src="image/popup/popup_home.jpg" alt="Card image cap">
        <div class="card-body">
           <a href="#/error" data-toggle="tooltip" data-placement="top" title="Click to Visit Villas" style="color:#144955;  font-family: 'Lora', Helvetica, sans-serif; ">Revolution Villas</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-6">
      <div class="card">
        <img class="card-img-top w-100 img-responsive" height="300" src="image/popup/popup2.jpg" alt="Card image cap">
        <div class="card-body">
          <a href="#/pop" data-toggle="tooltip" data-placement="top" title="Click to Visit Pop-Ups" style="color:#144955;  font-family: 'Lora', Helvetica, sans-serif; ">Revolution Pop-Ups</a>
        </div>
      </div>


    </div>
    <div class="col-md-6">
      <div class="card">
        <img class="card-img-top w-100 img-responsive" src="image/popup/popup_home.jpg" alt="Card image cap">
        <div class="card-body">
         <a href="#/error" data-toggle="tooltip" data-placement="top" title="Click to Visit Condominiums" style="color:#144955;  font-family: 'Lora', Helvetica, sans-serif; ">Revolution Condominiums</a>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card">
  <div class="card-body">
  <h2>Site Development Plan</h2>
  </div>
  </div>

    <a data-fancybox="gallery" href="https://files.widgetic.com/file/widgetic-uploads/weebly/image-loupe/3192807/jf2ko5bo-3w3xprv.png"><img src="https://files.widgetic.com/file/widgetic-uploads/weebly/image-loupe/3192807/jf2ko5bo-3w3xprv.png" alt="Click to zoom" height="400" width="700" class="ïmg-responsive"></a>


  </div>
<div class="col"></div>
  <div class="col">
    <section class="container">
      <div class="card rounded-0"  ng-class="{min:boolChangeClass}">
        <div class="card-header p-0">
          <div class="text-center py-2">
            <h3><i class="fa fa-envelope"></i> Want to find out?</h3>
          </div>
        </div>
        <div class="card-body p-3">

          <form action="https://formspree.io/flavorscape.lakeshore@gmail.comm" method="POST">
            <div class="form-group">
              <label for="exampleInputEmail1">Full Name</label>
              <input required name="name" type="text" class="form-control" id="exampleTextInput" aria-describedby="emailHelp" placeholder="Enter full name">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input required name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleTextarea">Enter your message</label>
              <textarea required name="message" class="form-control" id="exampleTextarea" placeholder="Please Regard the Property name" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-info btn-block" style="cursor:pointer">Submit</button>
          </form>
        </div>
      </div>
    </section>

  </div>



</div>
</div>
<br>
